{{ block title }}
    Task
{{ endblock }}

{{ block styles }}
    <style>
        .outer_box {
            display: flex;
            flex-direction: column;
            height: 250px;
        }
        .info_box {
            flex-grow: 1;
            overflow: auto;
            margin-left: 5px;
            margin-right: 5px;
            padding-top: 1rem;
        }
    </style>
{{ endblock }}

{{ block content }}

    <div class="start-timer alert alert-info">
        <p>The task starts in:
            <span style="font-weight: bold">
                <span class="start-timer__time-left"></span>
            </span>
        </p>
    </div>

      <div class="row mb-3">
        <!-- Card 1 -->
        <div class="col">
            <div class="card vertical-space">
                <h4 class="card-header text-center">Predecessor</h4>
                <div class="card-body outer_box">
                    <div class="mb-2 text-center">
                        {% if show_info %}
                        <p>
                            Inventory: <span id="predecessor1_inventory">{{ pre_inventory }}</span> units
                        </p>
                        {% endif %}
                        <button type="button" class="btn btn-primary" id="request_btn">
                            {% if cost_per_click > 0 %} 
                                Request a Unit (-{{ cost_per_click|to0 }} ECU)
                            {% else %}
                                Request a Unit
                            {% endif %}
                        </button>
                    </div>
                    <div class="info_box text-center" id="predecessor1_info">
                        <span id="predecessor1_transfer_status"></span><br>
                        <span id="predecessor1_transfer_units"></span>
                    </div>
                </div>
                <div class="card-footer text-muted text-center">
                    >>>
                </div>
            </div>
        </div>
        
        <!-- Card 2 -->
        <div class="col">
            <div class="card vertical-space">
                <h4 class="card-header text-center">
                    You
                </h4>
                <div class="card-body outer_box">
                    <p class="fw-bold">
                        Inventory: <span id="inventory_display">{{ inventory }}</span> units<br>
                        Balance: <span id="balance_display">{{ balance|to0 }}</span>
                    </p>
                    <p>
                        Items sold: <span id="total_items_sold_display">{{ total_items_sold }}</span><br>
                        Total revenue: <span id="total_revenue_display">{{ total_revenue|to0 }}</span><br>
                        Cost incurred: <span id="total_cost_display">{{ total_cost|to0 }}</span><br>
<!--                        Total profit: <span id="total_profit_display">{{ total_profit|to0 }}</span>-->
                    </p>
                </div>
                <div class="card-footer text-muted text-center">
                    >>>
                </div>
            </div>
        </div>
        
        <!-- Card 3 -->
        <div class="col">
            <div class="card vertical-space">
                <h4 class="card-header text-center">
                    Successor
                </h4>
                <div class="card-body outer_box">
                    <div class="info_box text-center" id="successor1_info">
                        <span id="successor1_transfer_status"></span><br>
                        <span id="successor1_transfer_units"></span><br>
                        <span id="successor1_transfer_cash"></span>
                    </div>
                </div>
                <div class="card-footer text-muted text-center">
                    >>> 
                </div>
            </div>
        </div>
      </div>

    {{ if show_chain }}
        <div class="text-center">
            <svg width="100%" viewBox="0 0 1000 400" xmlns="http://www.w3.org/2000/svg" id="id_circle"></svg>
            <p class="small">Your position is highlighted in gray.</p>
        </div>
    {{ endif }}


    {{ formfields }}
    {{ if DEBUG }} 
        <p class="text-danger"> BUTTON IN DEBUG MODE ONLY:</p>
        {{ next_button }} 
    {{ endif }}
{{ endblock }}

{{ block scripts }}
<script src="{{ static 'chain/highlighting.js' }}"></script>
<script src="{{ static 'chain/draw.js' }}"></script>
<script>
    function boxMullerTransform() {
        const u1 = Math.random();
        const u2 = Math.random();
        
        const z0 = Math.sqrt(-2.0 * Math.log(u1)) * Math.cos(2.0 * Math.PI * u2);
        const z1 = Math.sqrt(-2.0 * Math.log(u1)) * Math.sin(2.0 * Math.PI * u2);
        
        return { z0, z1 };
    }
    
    function getNormallyDistributedRandomNumber(mean, stddev) {
        const { z0, _ } = boxMullerTransform();
        return z0 * stddev + mean;
    }
</script>
<script>
    const requestButton = document.getElementById("request_btn");
    const inventoryDisplay = document.getElementById("inventory_display");
    const balanceDisplay = document.getElementById("balance_display");
    const totalCostDisplay = document.getElementById("total_cost_display");
    const totalItemsSold = document.getElementById("total_items_sold_display");
    const totalRevenueDisplay = document.getElementById("total_revenue_display");
    const predecessor1Info = document.getElementById("predecessor1_info");
    const successor1Info = document.getElementById("successor1_info");
    const predecessor1TransferStatus = document.getElementById("predecessor1_transfer_status");
    const predecessor1TransferUnits = document.getElementById("predecessor1_transfer_units");
    const successor1TransferStatus = document.getElementById("successor1_transfer_status");
    const successor1TransferUnits = document.getElementById("successor1_transfer_units");
    const successor1TransferCash = document.getElementById("successor1_transfer_cash");
    const oTreeTimer = document.getElementsByClassName('otree-timer')[0];
    const startTimer = document.getElementsByClassName('start-timer')[0];

    let predecessor1Inventory, othersdata;

    if (js_vars.show_info) {
        predecessor1Inventory = document.getElementById("predecessor1_inventory");
        // successor1Inventory = document.getElementById("successor1_inventory");
        othersdata = {
            "predecessor1_inventory": js_vars.predecessor1_inventory,
            // "successor1_inventory": js_vars.successor1_inventory,
        }
    }
    
    oTreeTimer.style.display = "none";
    // startTimer.style.display = "none";
    requestButton.disabled = true;
    
    function prep_timer(delay_milliseconds) {
        let currentDate = new Date();
        if (delay_milliseconds > 0) {
            // startTimer.style.display = "block";
            $('.start-timer__time-left').countdown(currentDate.valueOf() + delay_milliseconds)
            .on('update.countdown', function (event) {
                // %-N is "Total count of minutes till the end, non-padded"
                // %S is seconds left
                var format = '%-N:%S';
                $(this).html(event.strftime(format))
            })
            .on('finish.countdown', function () {
                startTimer.style.display = "none";
                oTreeTimer.style.display = "block";
                start_game();
            });
        } else {
            oTreeTimer.style.display = "block";
            start_game();
        }
    }
    
    let mydata = {
        "inventory": js_vars.inventory,
        "balance": js_vars.balance,
        "total_cost": js_vars.total_cost,
        "total_revenue": js_vars.total_revenue,
        "total_profit": js_vars.total_profit,
        "total_items_sold": js_vars.total_items_sold
    };

    
    function timeout_request_button(timeout_seconds) {
        requestButton.disabled = true;
        requestButton.innerHTML = "Please Wait";
        setTimeout(function() {
            requestButton.disabled = false;
            requestButton.innerHTML = js_vars.cost_per_click > 0 ? `Request a Unit (-${js_vars.cost_per_click} ECU)` : 'Request a Unit';
        }, timeout_seconds * 1000);
    }
    
    function update_receiver_data(data) {
        mydata.balance = data['to_balance'];
        mydata.inventory = data['to_inventory'];
        mydata.total_cost = data['to_cost'];
        mydata.total_revenue = data['to_revenue'];
        mydata.total_profit = data['to_profit'];
        update_display();
    }
    
    function update_sender_data(data) {
        mydata.balance = data['from_balance'];
        mydata.inventory = data['from_inventory'];
        mydata.total_cost = data['from_cost'];
        mydata.total_revenue = data['from_revenue'];
        mydata.total_profit = data['from_profit'];
        mydata.total_items_sold = data['from_revenue'] / js_vars.price_per_unit;
        update_display();
    }

    function get_predecessor() {
        if (js_vars.own_id_in_group == 1) {
            return js_vars.num_players;
        } else {
            return js_vars.own_id_in_group - 1;
        }
    }

    function get_successor() {
        if (js_vars.own_id_in_group == js_vars.num_players) {
            return 1;
        } else {
            return js_vars.own_id_in_group + 1;
        }
    }

    function update_others_data(data) {
        let predecessor = get_predecessor();
        let successor = get_successor();

        if (data["to_player"] == predecessor) {
            othersdata.predecessor1_inventory = data["to_inventory"];
        }
        if (data["from_player"] == predecessor) {
            othersdata.predecessor1_inventory = data["from_inventory"];
        }

        if (data["from_player"] == successor) {
            othersdata.successor1_inventory = data["from_inventory"];
        }
        if (data["to_player"] == successor) {
            othersdata.successor1_inventory = data["to_inventory"];
        }

        update_display()
    }
    
    function update_display() {
        inventoryDisplay.innerHTML = mydata.inventory;
        balanceDisplay.innerHTML = mydata.balance.toFixed(0) + " ECU";
        totalCostDisplay.innerHTML = mydata.total_cost.toFixed(0) + " ECU";
        totalRevenueDisplay.innerHTML = mydata.total_revenue.toFixed(0) + " ECU";
        totalItemsSold.innerHTML = mydata.total_items_sold + " units";
        // totalProfitDisplay.innerHTML = mydata.total_profit.toFixed(0);

        if (js_vars.show_info) {
            predecessor1Inventory.innerHTML = othersdata.predecessor1_inventory;
            // successor1Inventory.innerHTML = othersdata.successor1_inventory;
        }
    }

    function live_update_status(data) {
        // I receive the unit
        if (data['to_player'] === js_vars.own_id_in_group) {
            update_receiver_data(data);
            highlight_predecessor(
                1,
                data['transferred'], 
                data['units'], 
                js_vars.info_highlight_timeout_seconds
            );
            
        }
        // I send the unit
        if (data['from_player'] === js_vars.own_id_in_group) {
            update_sender_data(data)
            highlight_successor(
                1,
                data['transferred'],
                data['units'],
                data['cash'],
                js_vars.info_highlight_timeout_seconds
            );
        }
        // always keep others data updated
        if (js_vars.show_info) {
            update_others_data(data);
        }
    }
    
    function send_request(units) {
        liveSend({
            type: 'request',
            data: {
                units: units,
            }
        });
    }
    
    function send_init() {
        let current_time = new Date().getTime();
        let start_time_proposal = current_time + 5000;
        liveSend({
            type: 'init',
        });
        liveSend({
            type: 'start_time_proposal',
            start_time: start_time_proposal
        });
    }

    
    function liveRecv(data) {
        // console.log("Received data: ", data["type"]);
        if (data['type'] === 'status') {
            live_update_status(data['data']);
        }
        if (data['type'] === 'start_time_decision') {
            start_time_received(data.start_time);
        } 
        if (data['type'] === 'init_response') {
            mydata.balance = data['data']['balance'];
            mydata.inventory = data['data']['inventory'];
            mydata.total_cost = data['data']['cost'];
            mydata.total_revenue = data['data']['revenue'];
            mydata.total_profit = data['data']['profit'];
            mydata.total_items_sold = data['data']['items_sold'];
            if (js_vars.show_info) {
                othersdata.predecessor1_inventory = data["data"]["pre_inventory"];
                // othersdata.successor1_inventory = data["data"]["suc_inventory"];
            }
            update_display();
            // console.log(data['data']['chain_inventory']);
        }
    }
     
    function start_time_received(start_time) {
        let current_time = new Date().getTime();
        let delay = start_time - current_time;
        console.log('game start in ' + delay + ' ms');
        prep_timer(delay);
    }
    
    function recalculate_balances() {
        let cost = mydata.inventory * js_vars.inventory_unit_cost_per_second;
        mydata.balance -= cost;
        mydata.total_cost += cost;
        mydata.total_profit = mydata.total_revenue - mydata.total_cost;
    }
    
    function auto_play_request(mean, stdev) {
        let random = getNormallyDistributedRandomNumber(mean, stdev);
        window.setTimeout(function() {
            send_request(1);
            auto_play_request(mean, stdev)
        }, random * 1000);
    }
    
    // when ready
    function start_game() {
        requestButton.disabled = false;
        
        window.setInterval(function () {
            recalculate_balances();
            update_display();
        }, 1000);
        
        if (js_vars.auto_play) {
            auto_play_request(2, 0.5);
        }
    }
    
    const circle = document.getElementById("id_circle");
    if (js_vars.show_chain) {
        draw_rows(circle, js_vars.num_players, js_vars.own_id_in_group);
    }
    
    requestButton.addEventListener("click", function () {
        send_request(1);
        timeout_request_button(js_vars.request_button_timeout_seconds);
    });

    // initialize
    send_init();

    
</script>

{{ endblock scripts }}