{{ block title }}
    {{ if welcome_message }}Welcome {{else}}Instructions{{endif}}
{{ endblock }}

{{ block content }}
    {{ if welcome_message  }}
    <p>
        Thank you for participating in this experiment and thus supporting science. We expect the experiment to take less than 30 minutes. Upon full completion of the experiment, you will receive a completion fee of {{ participation_fee }}. In addition, you can earn a substantial bonus depending on your decisions and those of other participants.
    </p>

    <h2>Instructions</h2>
    {{ endif }}

    <p>
        <b>Preface:</b> All monetary amounts in this study are shown in Experimental Currency Units (ECU), which will be converted to {{ real_world_currency_code }} at the end of the study with an exchange rate of {{ exchange_rate }}.
    </p>

    <p>
        <b>Environment:</b> You are part of a closed ring system with {{ group_size }} participants (including yourself), as illustrated below. Hence, you have a direct <em>predecessor</em> and a direct <em>successor</em>, with other participants located in between.
    </p>

    <div class="text-center mb-3">
        <img src="{{ static 'ringsupplychain/embedding.png' }}" alt="embedding" style="max-width: 80%;"><br>
        {% if group_size == 5 %}
            <img src="{{ static 'ringsupplychain/ring5.png' }}" alt="embedding" style="max-width: 80%;">
        {% else %}
            <img src="{{ static 'ringsupplychain/ring10.png' }}" alt="embedding" style="max-width: 80%;">
        {% endif %}
    </div>

    <p>
        <b>Situation:</b> Each participant has their own inventory that stores units of a virtual good. At any time, you can request one unit of this virtual good from your predecessor. You receive a unit only if your predecessor has at least one unit in their inventory. Similarly, your successor can request a unit from you at any time.
    </p>

    <p>
        <b>Inventory:</b> Your inventory can be zero or positive. Every time you receive a unit from your predecessor, your inventory increases by one. Every time your successor receives a unit from you, your inventory decreases by one.
    </p>
    
    <p>
        <b>Your actions:</b> To request a unit, click “Request a unit” in the left box on the decision screen. The box turns blue for a second when your predecessor’s inventory has a unit, and you receive it; otherwise, it turns orange.
    </p>

    <p>
        <b>Your successor's actions:</b> When your successor requests a unit, the right box turns blue for a second when your inventory has a unit and your successor receives it; otherwise, it turns orange.
    </p>

    <p><b>Costs and Benefits:</b></p>
    <ul>
        <li>You start with {{ ecu_endowment }} ECUs.</li> 
        <li>You earn {{ ecu_earn }} ECUs every time your successor receives a unit from you.</li>
        <li>You must pay {{ ecu_inventory_cost }} ECU every second for each unit in your inventory, i.e., holding inventory is costly.</li>
        {{ if ecu_request_cost > 0 }}
            <li>You must pay {{ ecu_request_cost }} ECU for every request you make to your predecessor, irrespective of whether it results in you receiving a unit or not.</li>
        {{ endif }}
        <li>Your ECU balance adjusts accordingly. Technically, it can go negative, but you can also recover.</li>
    </ul>

    <p>
        <b>Duration:</b> The task ends after {{ round_seconds }} seconds ({{ round_minutes|to0 }} minutes).
    </p>

    <p>
        <br>Training:</b> To get comfortable with the situation, you have a {{ training_round_seconds }} second round without payments, where a computer predecessor and successor click randomly. After the training, all participants in the ring are the humans identified in the Zoom meeting.
    </p>

    <p>
        <b>Payment:</b> Your payment after the experiment is the fixed fee plus your total ECU transferred to Euros, given the exchange rate {{exchange_rate}}. If your total ECU is negative, you only receive the fixed fee.
    </p>

    <p>
        <b>Please answer the following questions before continuing to the training round:</b>
    </p>

    {{ formfields }}

    <p>If you have any questions, please contact the experimenter via chat.</p>

    {{ next_button }}

{{ endblock }}